tbody {
    tr {
        background-color: #ced0d371;
        border-bottom: 2px solid #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem 0;

        &:hover {
            background-color: #ced0d3c0;
            cursor: pointer; 
        }

        td {
            text-align: left;
            padding: .8rem;
            font-size: 2rem;
            font-weight: bold;
            color: #000000;
        }

        .coin {
            width: 20%;
            display: flex;
            justify-content: center;
            gap: 3rem;
            align-items: center;

            @media (max-width: 768px) {
                gap: 1rem;
            }

            h2 {
                font-size: 2.3rem;
            }

            img {
                height: 6rem;
                width: auto;
            }

            h3 {
                text-transform: uppercase;
            }
        }

        .value-price {
            font-size: 2.5rem;
        }
    }
}

.item-link {
    text-decoration: none;
}