.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: #ffff00;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

    h1 {
        font-size: 3rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: .5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 2px 2px 0 #eeeb26, 4px 4px 0 #b2c223, -4px 0px 6px rgba(206, 218, 41, 0.59);
    }

    input {
        height: 3rem;
        width: auto;
    }

    button {
        padding: 1rem 3rem;
        border-radius: 1rem;
        background-color: #000000;
        color: #ffff00;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border: 2px solid #ffffff;

        &:hover {
            background-color: #ffff00;
            color: #000000;
            border: 2px solid #000000;
        }
    }
}

