footer {
    width: 100%;
    background-color: #ffff00;
    padding: 3rem 0;
    text-align: center;

    p {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
}