footer {
    background-color: #ffff00;
    padding: 3rem 0;

    p {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
}