* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
.loading {
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0;
}
.d-none {
    @media (max-width: 768px) {
        display: none;
    }
}
