/* .list {
    margin: 5rem 0;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: 2rem auto 0 auto;
        padding: 2rem;
        background-color: #000000;
        color: #ffffff;
        border-bottom: 2px solid #ffffff;

        li {
            list-style: none;
            font-weight: bold;
            font-size: 2rem;
            cursor: default;

            &:hover {
                color: #ffff00;
            }
        }
    }
} */




table {
    border-collapse: collapse;
    width: 90vw;
    margin: 5rem auto;
}
thead {
    tr {
        background-color: #000000;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem 0;
        
        th {
            text-align: left;
            padding: .8rem;
            font-size: 2rem;

            &:hover {
                color: #ffff00;
                cursor: default;
            }
        }

        .coin {
            width: 20%;
            display: flex;
            justify-content: center;
        }
        
        .price {
            margin-right: 3rem;
        }
    }
}