table {
    border-collapse: collapse;
    width: 90vw;
    min-height: 50vh;
    margin: 0 auto 5rem auto;

    @media (max-width: 768px) {
        width: 100vw;
    }
}
thead {
    tr {
        background-color: #000000;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem 0;
        
        th {
            text-align: left;
            padding: .8rem;
            font-size: 2rem;

            &:hover {
                color: #ffff00;
                cursor: default;
            }
        }

        .coin {
            width: 20%;
            display: flex;
            justify-content: center;
        }
        
        .price {
            margin-right: 3rem;
        }
    }
}